# An√°lise Explorat√≥ria de Dados: IBGE

<h1>
    <p align="center">
        Work in Progress üõ†Ô∏è
    </p>
</h1>

Objetivos:

- Realizar uma an√°lise focada nas vari√°veis referentes a popula√ß√£o brasileira e alguns √≠ndices econ√¥micos;

Algumas possibilidades: 

- Comparativos entre estados ou regi√µes do Brasil no quesito populacional e/ou econ√¥mico;
- Procurar entender quais os estados com os munic√≠pios mais ricos, mais populosos, com mais imigrantes;
- Rankeamento desses estados com base em alguns KPI's (GDP, IDH, Popula√ß√£o total);
- Um dado interessante para a an√°lise tamb√©m pode ser a distribui√ß√£o de carros/motos por cidad√£o.
- Divis√£o et√°ria da popula√ß√£o desses estados, buscando quais os de popula√ß√£o mais jovem e velha na m√©dia;

## Puxando dados e selecionando vari√°veis necess√°rias

In [173]:
# Importando pacotes:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

# Definindo par√¢metros de tamanho das figuras do Seaborn:
sns.set(rc={'figure.figsize':(12,8)})
sns.set(style="darkgrid")

print('Pacotes prontos!')

Pacotes prontos!

In [3]:
# Criando dataframe:
data = pd.read_csv('data/BRAZIL_CITIES.csv', sep=';')

In [4]:
# Visualizando dados:
data.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goi√°s,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadi√¢nia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaet√©,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

In [5]:
# Checando shape:
data.shape

(5573, 81)

Dados: 5573 Registros em 81 Vari√°veis

In [6]:
# Checando colunas:
data.columns

Index(['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS',
       'IBGE_RES_POP_ESTR', 'IBGE_DU', 'IBGE_DU_URBAN', 'IBGE_DU_RURAL',
       'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
       'IBGE_15-59', 'IBGE_60+', 'IBGE_PLANTED_AREA', 'IBGE_CROP_PRODUCTION_$',
       'IDHM Ranking 2010', 'IDHM', 'IDHM_Renda', 'IDHM_Longevidade',
       'IDHM_Educacao', 'LONG', 'LAT', 'ALT', 'PAY_TV', 'FIXED_PHONES', 'AREA',
       'REGIAO_TUR', 'CATEGORIA_TUR', 'ESTIMATED_POP', 'RURAL_URBAN',
       'GVA_AGROPEC', 'GVA_INDUSTRY', 'GVA_SERVICES', 'GVA_PUBLIC',
       ' GVA_TOTAL ', 'TAXES', 'GDP', 'POP_GDP', 'GDP_CAPITA', 'GVA_MAIN',
       'MUN_EXPENDIT', 'COMP_TOT', 'COMP_A', 'COMP_B', 'COMP_C', 'COMP_D',
       'COMP_E', 'COMP_F', 'COMP_G', 'COMP_H', 'COMP_I', 'COMP_J', 'COMP_K',
       'COMP_L', 'COMP_M', 'COMP_N', 'COMP_O', 'COMP_P', 'COMP_Q', 'COMP_R',
       'COMP_S', 'COMP_T', 'COMP_U', 'HOTELS', 'BEDS', 'Pr_Agencies',
       'Pu_Agencies', 'Pr_Bank', 'Pu_Bank', 'Pr_Assets', 'Pu_Assets', 'Cars',
       'Motorcycles', 'Wheeled_tractor', 'UBER', 'MAC', 'WAL-MART',
       'POST_OFFICES'],
      dtype='object')

Antes de nos aprofundarmos mais no Dataset, iremos realizar um corte de vari√°veis, preservando apenas aquelas que interessam para a an√°lise proposta no in√≠cio.

In [61]:
# Selecionando as vari√°veis que ser√£o relevantes para a an√°lise:
data_pop = data.loc[
    :,
    ['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS', 'IBGE_RES_POP_ESTR', 'IBGE_DU', 
    'IBGE_DU_URBAN', 'IBGE_DU_RURAL', 'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
    'IBGE_15-59', 'IBGE_60+', 'Cars', 'Motorcycles', 'IDHM', 'IDHM_Renda', 
    'IDHM_Longevidade', 'IDHM_Educacao', 'TAXES', 'LAT', 'LONG']
].copy()

In [62]:
# Visualizando novos dados:
data_pop.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,IBGE_60+,Cars,Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,TAXES,LAT,LONG
0,Abadia De Goi√°s,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,416.0,2158.0,1246.0,0.708,0.687,0.830,0.622,20554.20,-16.758812,-49.440548
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,589.0,2227.0,1142.0,0.690,0.693,0.839,0.563,12873.50,-18.487565,-47.396832
2,Abadi√¢nia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,990.0,2838.0,1426.0,0.690,0.671,0.841,0.579,26822.58,-16.182672,-48.718812
3,Abaet√©,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2681.0,6928.0,2953.0,0.698,0.720,0.848,0.556,26994.09,-19.155848,-45.446191
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,5996.0,5277.0,25661.0,0.628,0.579,0.798,0.537,95180.48,-1.723470,-48.884404

Com nossas vari√°veis selecionadas, podemos dar in√≠cio propriamente as an√°lises iniciais do Dataset e limpeza.

## An√°lise inicial e conhecendo os dados

In [63]:
# Visualizando o novo shape:
data_pop.shape

(5573, 25)

In [64]:
data_pop.columns

Index(['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS',
       'IBGE_RES_POP_ESTR', 'IBGE_DU', 'IBGE_DU_URBAN', 'IBGE_DU_RURAL',
       'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
       'IBGE_15-59', 'IBGE_60+', 'Cars', 'Motorcycles', 'IDHM', 'IDHM_Renda',
       'IDHM_Longevidade', 'IDHM_Educacao', 'TAXES', 'LAT', 'LONG'],
      dtype='object')

Agora temos os mesmos 5573 registros em apenas 23 vari√°veis

Para termos uma vis√£o melhor e mais apropiada do conte√∫do de cada vari√°vel, realizaremos um dicion√°rio de vari√°veis, baseado no arquivo CSV presente na pasta `data` chamado `Data_Dictionary.csv`:


| <p align='center'>**Vari√°vel**</p>| <p align='center'>**Conte√∫do**</p>                                                         |
|-----------------------------------|--------------------------------------------------------------------------------------------|
| *`CITY`*                          | Nome da cidade.                                                                            |
| *`STATE`*                         | Nome do estado.                                                                            |
| *`CAPITAL`*                       | Indica se a cidade nomeada no registro √© a capital do estado.                              |
| *`IBGE_RES_POP`*                  | N√∫mero de habitantes da cidade de acordo com o senso de 2010.                              |
| *`IBGE_RES_POP_BRAS`*             | Quantos cidad√£os da popula√ß√£o total da cidade s√£o brasileiros.                             |
| *`IBGE_RES_POP_ESTR`*             | Quantos cidad√£os da popula√ß√£o total da cidade s√£o estrangeiros.                            |  
| *`IBGE_DU`*                       | N√∫mero de unidades dom√©sticas totais.                                                      |
| *`IBGE_DU_URBAN`*                 | Das unidades dom√©sticas totais, quantas est√£o em regi√µes urbanas.                          |
| *`IBGE_DU_RURAL`*                 | Das unidades dom√©sticas totais, quantas est√£o em regi√µes rurais.                           |
| *`IBGE_POP`*                      | Moradores em domic√≠lios particulares permanentes, em √°reas com ordenamento urbano regular. |
| *`IBGE_1`*                        | N√∫mero de pessoas com at√© 1 ano de idade na popula√ß√£o referente a tabela `IBGE_POP`.       |
| *`IBGE_1-4`*                      | N√∫mero de pessoas entre 1 e 4 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.    |
| *`IBGE_5-9`*                      | N√∫mero de pessoas entre 5 e 9 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.    |
| *`IBGE_10-14`*                    | N√∫mero de pessoas entre 10 e 14 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.  |
| *`IBGE_15-59`*                    | N√∫mero de pessoas entre 15 e 59 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.  |
| *`IBGE_60+`*                      | N√∫mero de pessoas a partir dos 60 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.|
| *`Cars`*                          | N√∫mero total de carros referente ao ano de 2019.                                           |
| *`Motorcycles`*                   | N√∫mero total de Motocicletas referente ao ano de 2019.                                     |
| *`IDHM`*                          | √çndice de Desenvolvimento Humano.                                                          |
| *`IDHM_Renda`*                    | √çndice de Desenvolvimento Humano - Renda.                                                  |
| *`IDHM_Longevidade`*              | √çndice de Desenvolvimento Humano - Longevidade.                                            |
| *`IDHM_Educacao`*                 | √çndice de Desenvolvimento Humano - Educa√ß√£o                                                |
| *`TAXES`*                         | Montante total pago em Impostos.                                                           |
| *`LONG`*                          | Coordenada longitudinal da cidade.                                                         |
| *`LAT`*                           | Coordenada latitudinal da cidade.                                                          |

Os nomes das vari√°veis ser√£o alterados mais adiante, para facilitar a compreens√£o das mesmas sem a necessidade de referenciar a tabela a todo momento. Este processo tamb√©m sera realizado para padronizar a nomenclatura da melhor maneira poss√≠vel.

In [65]:
# Checando informa√ß√µes espec√≠ficas sobre as vari√°veis:
data_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CITY               5573 non-null   object
 1   STATE              5573 non-null   object
 2   CAPITAL            5573 non-null   int64
 3   IBGE_RES_POP       5565 non-null   float64
 4   IBGE_RES_POP_BRAS  5565 non-null   float64
 5   IBGE_RES_POP_ESTR  5565 non-null   float64
 6   IBGE_DU            5563 non-null   float64
 7   IBGE_DU_URBAN      5563 non-null   float64
 8   IBGE_DU_RURAL      5492 non-null   float64
 9   IBGE_POP           5565 non-null   float64
 10  IBGE_1             5565 non-null   float64
 11  IBGE_1-4           5565 non-null   float64
 12  IBGE_5-9           5565 non-null   float64
 13  IBGE_10-14         5565 non-null   float64
 14  IBGE_15-59         5565 non-null   float64
 15  IBGE_60+           5565 non-null   float64
 16  Cars               5562 non-null   float64
 17  Motorcycles        5562 non-null   float64
 18  IDHM               5565 non-null   float64
 19  IDHM_Renda         5565 non-null   float64
 20  IDHM_Longevidade   5565 non-null   float64
 21  IDHM_Educacao      5565 non-null   float64
 22  TAXES              5570 non-null   float64
 23  LAT                5564 non-null   float64
 24  LONG               5564 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 1.1+ MB

Algumas informa√ß√µes relevantes:

- No total, temos 22 vari√°veis do tipo float64, 1 do tipo int64 e 2 do tipo object. Visando a melhor performance poss√≠vel do Dataset, iremos avaliar a possibilidade de alterar os Data Types para op√ß√µes melhores (int8 ou 32 por exemplo, categorical para as vari√°veis object, etc.);

- Temos poucos dados faltantes espalhados em diversas colunas.

Dado o fato de que praticamente todas as colunas est√£o em float por mais que muitas n√£o precisem estar, a avalia√ß√£o estat√≠stica utilizando o m√©todo .describe() fica prejudicada, assim como a procura por outliers utilizando boxplots. Sendo assim, antes de continuar essas an√°lises estat√≠sticas, iremos realizar a retirada de valores nulos e as transforma√ß√µes de Data Types nos dados.

## Retirada de Nulls, Alterando Dtypes e Renomenado Colunas

In [177]:
# Criando c√≥pia dos dados para a limpeza:
data_pop_clean = data_pop.copy()

- Renomenado Colunas:

In [178]:
# Renomeando e padronizando colunas:
data_pop_clean = data_pop_clean.rename(columns={
    'CITY': 'City', 'STATE': 'State', 'CAPITAL': 'Capital',
    'IBGE_RES_POP': 'Total_Pop', 'IBGE_RES_POP_BRAS': 'Total_Pop_Brazilians',
    'IBGE_RES_POP_ESTR': 'Total_Pop_Foreigners', 'IBGE_DU': 'Total_Uni_Dom',
    'IBGE_DU_URBAN': 'Total_Uni_Dom_Urb', 'IBGE_DU_RURAL': 'Total_Uni_Dom_Rur',
    'IBGE_POP': 'Total_Pop_Urb', 'IBGE_1': 'Pop_Urb_1', 'IBGE_1-4': 'Pop_Urb_1-4',
    'IBGE_5-9': 'Pop_Urb_5-9', 'IBGE_10-14': 'Pop_Urb_10-14', 'IBGE_15-59': 'Pop_Urb_15-19',
    'IBGE_60+': 'Pop_Urb_60+', 'Cars': 'Total_Cars', 'Motorcycles': 'Total_Motorcycles',
    'TAXES': 'Taxes', 'LAT': 'City_Latitude', 'LONG': 'City_Longitude'
})

In [179]:
data_pop_clean.head()

,City,State,Capital,Total_Pop,Total_Pop_Brazilians,Total_Pop_Foreigners,Total_Uni_Dom,Total_Uni_Dom_Urb,Total_Uni_Dom_Rur,Total_Pop_Urb,...,Pop_Urb_60+,Total_Cars,Total_Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,Taxes,City_Latitude,City_Longitude
0,Abadia De Goi√°s,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,416.0,2158.0,1246.0,0.708,0.687,0.830,0.622,20554.20,-16.758812,-49.440548
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,589.0,2227.0,1142.0,0.690,0.693,0.839,0.563,12873.50,-18.487565,-47.396832
2,Abadi√¢nia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,990.0,2838.0,1426.0,0.690,0.671,0.841,0.579,26822.58,-16.182672,-48.718812
3,Abaet√©,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2681.0,6928.0,2953.0,0.698,0.720,0.848,0.556,26994.09,-19.155848,-45.446191
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,5996.0,5277.0,25661.0,0.628,0.579,0.798,0.537,95180.48,-1.723470,-48.884404

- Remo√ß√£o de valores nulos:

In [180]:
# Checando quantos valores nulos est√£o presentes em cada coluna:
data_pop_clean.isnull().sum()

City                     0
State                    0
Capital                  0
Total_Pop                8
Total_Pop_Brazilians     8
Total_Pop_Foreigners     8
Total_Uni_Dom           10
Total_Uni_Dom_Urb       10
Total_Uni_Dom_Rur       81
Total_Pop_Urb            8
Pop_Urb_1                8
Pop_Urb_1-4              8
Pop_Urb_5-9              8
Pop_Urb_10-14            8
Pop_Urb_15-19            8
Pop_Urb_60+              8
Total_Cars              11
Total_Motorcycles       11
IDHM                     8
IDHM_Renda               8
IDHM_Longevidade         8
IDHM_Educacao            8
Taxes                    3
City_Latitude            9
City_Longitude           9
dtype: int64

Para lidar com os valores faltantes, utilizaremos o m√©todo da biblioteca SciKit Nearest Neighbors Imputations (KNNImputer), com ele, imputaremos valores nas c√©lulas faltantes baseados na m√©dia dos vizinhos mais pr√≥ximos aquela tabela. Antes disso, precisamos normalizar os dados, e para isso, primeiro iremos adicionar manualmente as 9 latitudes e longitudes faltantes nos dados (pois inferir esses dados utilizando scikit n√£o seria ideal) utilizando google Maps para coleta das coordenadas.

O processo ent√£o consiste em:

- Pesquisar e adicionar latitute e longitude das cidades faltantes, estudando caso a caso.
- Normalizar o Dataset e aplicar KNNImputer para preencher os nulos.

In [181]:
# Pesquisando quais s√£o as latitudes e longitudes faltantes:
data_pop_clean.loc[(data_pop_clean['City_Latitude'].isnull()), ['City', 'State', 'City_Latitude', 'City_Longitude']]

                   City State  City_Latitude  City_Longitude
471    Balne√°rio Rinc√£o    SC            NaN             NaN
2701    Lagoa Dos Patos    RS            NaN             NaN
3116   Moju√≠ Dos Campos    PA            NaN             NaN
3580  Para√≠so Das √Åguas    MS            NaN             NaN
3760     Pescaria Brava    SC            NaN             NaN
3805    Pinhal Da Serra    RS            NaN             NaN
3820     Pinto Bandeira    RS            NaN             NaN
4489    Santa Terezinha    BA            NaN             NaN
4605        S√£o Caetano    PE            NaN             NaN

 - Checando caso a caso:

In [182]:
data_pop_clean.loc[(data_pop_clean['City_Latitude'].isnull()), :].T

,471,2701,3116,3580,3760,3805,3820,4489,4605
City,Balne√°rio Rinc√£o,Lagoa Dos Patos,Moju√≠ Dos Campos,Para√≠so Das √Åguas,Pescaria Brava,Pinhal Da Serra,Pinto Bandeira,Santa Terezinha,S√£o Caetano
State,SC,RS,PA,MS,SC,RS,RS,BA,PE
Capital,0,0,0,0,0,0,0,0,0
Total_Pop,NaN,NaN,NaN,NaN,NaN,2130.0,NaN,9648.0,NaN
Total_Pop_Brazilians,NaN,NaN,NaN,NaN,NaN,2130.0,NaN,9648.0,NaN
Total_Pop_Foreigners,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
Total_Uni_Dom,NaN,NaN,NaN,NaN,NaN,745.0,NaN,2891.0,NaN
Total_Uni_Dom_Urb,NaN,NaN,NaN,NaN,NaN,180.0,NaN,734.0,NaN
Total_Uni_Dom_Rur,NaN,NaN,NaN,NaN,NaN,565.0,NaN,2157.0,NaN
Total_Pop_Urb,NaN,NaN,NaN,NaN,NaN,478.0,NaN,2332.0,NaN
Pop_Urb_1,NaN,NaN,NaN,NaN,NaN,11.0,NaN,40.0,NaN
Pop_Urb_1-4,NaN,NaN,NaN,NaN,NaN,22.0,NaN,126.0,NaN
Pop_Urb_5-9,NaN,NaN,NaN,NaN,NaN,34.0,NaN,191.0,NaN
Pop_Urb_10-14,NaN,NaN,NaN,NaN,NaN,32.0,NaN,217.0,NaN
Pop_Urb_15-19,NaN,NaN,NaN,NaN,NaN,312.0,NaN,1419.0,NaN
Pop_Urb_60+,NaN,NaN,NaN,NaN,NaN,67.0,NaN,339.0,NaN
Total_Cars,3297.0,NaN,353.0,726.0,1950.0,644.0,624.0,NaN,NaN
Total_Motorcycles,887.0,NaN,862.0,255.0,1314.0,159.0,109.0,NaN,NaN
IDHM,NaN,NaN,NaN,NaN,NaN,0.65,NaN,NaN,NaN
IDHM_Renda,NaN,NaN,NaN,NaN,NaN,0.641,NaN,NaN,NaN
IDHM_Longevidade,NaN,NaN,NaN,NaN,NaN,0.835,NaN,NaN,NaN
IDHM_Educacao,NaN,NaN,NaN,NaN,NaN,0.513,NaN,NaN,NaN
Taxes,14863.05,NaN,4177.94,21594.41,4505.77,25222.6,4064.74,3149.33,NaN
City_Latitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City_Longitude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Com a tabela, temos registros 100% faltantes como Lagoa dos Patos no Rio Grande do Sul e uma caracter√≠stica semelhante a todos os registros, os dados que mais aparecem completos na tabela s√£o o n√∫mero total de carros e motos.

Devido a quantidade de dados faltantes, os registros referentes a:
- Balne√°rio Rinc√£o;
- Lagoa Dos Patos;
- Moju√≠ Dos Campos;
- Para√≠so Das √Åguas;
- Pescaria Brava;
- Pinto Bandeira e
- S√£o Caetano

Ser√£o removidos. J√° os registros de Pinhal Da Serra e Santa Terezinha podem ser tratados com o m√©todo da Nearest Neighbors Imputations (KNNImputer).

In [183]:
# Exclu√≠ndo registros desnecess√°rios:
data_pop_clean = data_pop_clean.drop(data_pop_clean[data_pop_clean['Total_Pop'].isnull()].index)

In [184]:
# Checando dados que sobraram:
data_pop_clean.loc[(data_pop_clean['City_Latitude'].isnull()), :].T

                                 3805             4489
City                  Pinhal Da Serra  Santa Terezinha
State                              RS               BA
Capital                             0                0
Total_Pop                      2130.0           9648.0
Total_Pop_Brazilians           2130.0           9648.0
Total_Pop_Foreigners              0.0              0.0
Total_Uni_Dom                   745.0           2891.0
Total_Uni_Dom_Urb               180.0            734.0
Total_Uni_Dom_Rur               565.0           2157.0
Total_Pop_Urb                   478.0           2332.0
Pop_Urb_1                        11.0             40.0
Pop_Urb_1-4                      22.0            126.0
Pop_Urb_5-9                      34.0            191.0
Pop_Urb_10-14                    32.0            217.0
Pop_Urb_15-19                   312.0           1419.0
Pop_Urb_60+                      67.0            339.0
Total_Cars                      644.0              NaN
Total_Motorcycles               159.0              NaN
IDHM                             0.65              NaN
IDHM_Renda                      0.641              NaN
IDHM_Longevidade                0.835              NaN
IDHM_Educacao                   0.513              NaN
Taxes                         25222.6          3149.33
City_Latitude                     NaN              NaN
City_Longitude                    NaN              NaN

Com esses dois registros, basta inserirmos as latitudes e longitudes para poder normalizar o dataset e realizar o preenchimento dos nulos.

In [185]:
# Preenchendo dados utilziando o m√©todo .at[]:

# Pinhal da Serra:
data_pop_clean.at[3805, 'City_Latitude'] = -27.874407
data_pop_clean.at[3805, 'City_Longitude'] = -51.171822

# Santa Terezinha:
data_pop_clean.at[4489, 'City_Latitude'] = -12.770203
data_pop_clean.at[4489, 'City_Longitude'] = -39.524779

In [186]:
# Checando:
data_pop_clean[['City_Latitude', 'City_Longitude']].isnull().sum()

City_Latitude     0
City_Longitude    0
dtype: int64

Agora, iremos normalizar o dataset para podermos aplicar o m√©todo correto de lidar com os nulos. Por√©m para isso, iremos retirar temporariamente as vari√°veis categ√≥ricas, pois o m√©todo KNNImputer apenas funciona com dados escalares.

In [187]:
# Criando o Dataframe com as vari√°veis categ√≥ricas e de coordenadas:
var_cat = data_pop_clean[['City', 'State', 'City_Latitude', 'City_Longitude']].copy()
var_cat

                     City State  City_Latitude  City_Longitude
0         Abadia De Goi√°s    GO     -16.758812      -49.440548
1     Abadia Dos Dourados    MG     -18.487565      -47.396832
2               Abadi√¢nia    GO     -16.182672      -48.718812
3                  Abaet√©    MG     -19.155848      -45.446191
4              Abaetetuba    PA      -1.723470      -48.884404
...                   ...   ...            ...             ...
5568          Xique-Xique    BA     -10.824974      -42.725508
5569               Zabel√™    PB      -8.076874      -37.093552
5570             Zacarias    SP     -21.050110      -50.055740
5571              Z√© Doca    MA      -3.275481      -45.657698
5572               Zort√©a    SC     -27.450251      -51.549566

[5565 rows x 4 columns]

In [188]:
# Dropando vari√°veis categ√≥ricas e de coordenadas do dataset limpo:
data_pop_clean = data_pop_clean.drop(['City', 'State', 'City_Latitude', 'City_Longitude'], axis=1)

- Normaliza√ß√£o dos dados:

In [189]:
# Realizando a Normaliza√ß√£o:
scaler = MinMaxScaler()
data_pop_clean = pd.DataFrame(scaler.fit_transform(data_pop_clean), columns = data_pop_clean.columns)
data_pop_clean.head()

,Capital,Total_Pop,Total_Pop_Brazilians,Total_Pop_Foreigners,Total_Uni_Dom,Total_Uni_Dom_Urb,Total_Uni_Dom_Rur,Total_Pop_Urb,Pop_Urb_1,Pop_Urb_1-4,...,Pop_Urb_10-14,Pop_Urb_15-19,Pop_Urb_60+,Total_Cars,Total_Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,Taxes
0,0.0,0.000540,0.000545,0.000000,0.000531,0.000419,0.017393,0.000490,0.000533,0.000608,...,0.000644,0.000489,0.000299,0.000376,0.001095,0.653153,0.584521,0.711712,0.671521,0.000296
1,0.0,0.000524,0.000530,0.000000,0.000584,0.000400,0.024966,0.000380,0.000294,0.000392,...,0.000433,0.000370,0.000433,0.000388,0.001003,0.612613,0.596741,0.752252,0.576052,0.000231
2,0.0,0.001329,0.001330,0.001236,0.001235,0.000894,0.041975,0.001002,0.001074,0.001253,...,0.001372,0.000964,0.000743,0.000494,0.001253,0.612613,0.551935,0.761261,0.601942,0.000350
3,0.0,0.001945,0.001966,0.000000,0.002085,0.001862,0.030290,0.001748,0.001359,0.001653,...,0.001948,0.001684,0.002051,0.001206,0.002599,0.630631,0.651731,0.792793,0.564725,0.000351
4,0.0,0.012468,0.012596,0.000501,0.008619,0.005354,0.354996,0.007912,0.010459,0.010804,...,0.011348,0.007569,0.004615,0.000919,0.022614,0.472973,0.364562,0.567568,0.533981,0.000933

In [190]:
# Aplicando o m√©doto de KNNImputer:
imputer = KNNImputer(n_neighbors=5)
df_norm = pd.DataFrame(imputer.fit_transform(data_pop_clean),columns = data_pop_clean.columns)

In [191]:
# Visualizando dados normalizados:
df_norm

,Capital,Total_Pop,Total_Pop_Brazilians,Total_Pop_Foreigners,Total_Uni_Dom,Total_Uni_Dom_Urb,Total_Uni_Dom_Rur,Total_Pop_Urb,Pop_Urb_1,Pop_Urb_1-4,...,Pop_Urb_10-14,Pop_Urb_15-19,Pop_Urb_60+,Total_Cars,Total_Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,Taxes
0,0.0,0.000540,0.000545,0.000000,0.000531,0.000419,0.017393,0.000490,0.000533,0.000608,...,0.000644,0.000489,0.000299,0.000376,0.001095,0.653153,0.584521,0.711712,0.671521,0.000296
1,0.0,0.000524,0.000530,0.000000,0.000584,0.000400,0.024966,0.000380,0.000294,0.000392,...,0.000433,0.000370,0.000433,0.000388,0.001003,0.612613,0.596741,0.752252,0.576052,0.000231
2,0.0,0.001329,0.001330,0.001236,0.001235,0.000894,0.041975,0.001002,0.001074,0.001253,...,0.001372,0.000964,0.000743,0.000494,0.001253,0.612613,0.551935,0.761261,0.601942,0.000350
3,0.0,0.001945,0.001966,0.000000,0.002085,0.001862,0.030290,0.001748,0.001359,0.001653,...,0.001948,0.001684,0.002051,0.001206,0.002599,0.630631,0.651731,0.792793,0.564725,0.000351
4,0.0,0.012468,0.012596,0.000501,0.008619,0.005354,0.354996,0.007912,0.010459,0.010804,...,0.011348,0.007569,0.004615,0.000919,0.022614,0.472973,0.364562,0.567568,0.533981,0.000933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5560,0.0,0.003975,0.004018,0.000000,0.003187,0.002368,0.093859,0.003089,0.004001,0.004493,...,0.004604,0.002731,0.002742,0.000370,0.004460,0.376126,0.331976,0.310811,0.440129,0.000235
5561,0.0,0.000113,0.000114,0.000000,0.000121,0.000121,0.005354,0.000124,0.000154,0.000204,...,0.000139,0.000111,0.000135,0.000015,0.000139,0.461712,0.340122,0.238739,0.614887,0.000126
5562,0.0,0.000136,0.000137,0.000000,0.000157,0.000163,0.004674,0.000159,0.000162,0.000192,...,0.000147,0.000152,0.000206,0.000157,0.000301,0.702703,0.600815,0.693694,0.755663,0.000138
5563,0.0,0.004387,0.004433,0.000175,0.003257,0.002128,0.126368,0.002927,0.004179,0.004586,...,0.004457,0.002556,0.002428,0.000300,0.009768,0.398649,0.323829,0.328829,0.482201,0.000314
5564,0.0,0.000194,0.000196,0.000000,0.000220,0.000209,0.006596,0.000206,0.000239,0.000247,...,0.000227,0.000200,0.000176,0.000187,0.000313,0.770270,0.716904,0.959459,0.734628,0.000147

In [192]:
# Checando nulos
df_norm.isnull().sum()

Capital                 0
Total_Pop               0
Total_Pop_Brazilians    0
Total_Pop_Foreigners    0
Total_Uni_Dom           0
Total_Uni_Dom_Urb       0
Total_Uni_Dom_Rur       0
Total_Pop_Urb           0
Pop_Urb_1               0
Pop_Urb_1-4             0
Pop_Urb_5-9             0
Pop_Urb_10-14           0
Pop_Urb_15-19           0
Pop_Urb_60+             0
Total_Cars              0
Total_Motorcycles       0
IDHM                    0
IDHM_Renda              0
IDHM_Longevidade        0
IDHM_Educacao           0
Taxes                   0
dtype: int64

In [203]:
# Juntando as vari√°veis categ√≥ricas e coordenadas aos dados normalizados:
df_final = var_cat.merge(df_norm, left_index=True, right_index=True)
df_final

,City,State,City_Latitude,City_Longitude,Capital,Total_Pop,Total_Pop_Brazilians,Total_Pop_Foreigners,Total_Uni_Dom,Total_Uni_Dom_Urb,...,Pop_Urb_10-14,Pop_Urb_15-19,Pop_Urb_60+,Total_Cars,Total_Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,Taxes
0,Abadia De Goi√°s,GO,-16.758812,-49.440548,0.0,0.000540,0.000545,0.000000,0.000531,0.000419,...,0.000644,0.000489,0.000299,0.000376,0.001095,0.653153,0.584521,0.711712,0.671521,0.000296
1,Abadia Dos Dourados,MG,-18.487565,-47.396832,0.0,0.000524,0.000530,0.000000,0.000584,0.000400,...,0.000433,0.000370,0.000433,0.000388,0.001003,0.612613,0.596741,0.752252,0.576052,0.000231
2,Abadi√¢nia,GO,-16.182672,-48.718812,0.0,0.001329,0.001330,0.001236,0.001235,0.000894,...,0.001372,0.000964,0.000743,0.000494,0.001253,0.612613,0.551935,0.761261,0.601942,0.000350
3,Abaet√©,MG,-19.155848,-45.446191,0.0,0.001945,0.001966,0.000000,0.002085,0.001862,...,0.001948,0.001684,0.002051,0.001206,0.002599,0.630631,0.651731,0.792793,0.564725,0.000351
4,Abaetetuba,PA,-1.723470,-48.884404,0.0,0.012468,0.012596,0.000501,0.008619,0.005354,...,0.011348,0.007569,0.004615,0.000919,0.022614,0.472973,0.364562,0.567568,0.533981,0.000933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5560,Xambr√™,PR,-23.738394,-53.486941,0.0,0.003975,0.004018,0.000000,0.003187,0.002368,...,0.004604,0.002731,0.002742,0.000370,0.004460,0.376126,0.331976,0.310811,0.440129,0.000235
5561,Xangri-L√°,RS,-29.805378,-50.039081,0.0,0.000113,0.000114,0.000000,0.000121,0.000121,...,0.000139,0.000111,0.000135,0.000015,0.000139,0.461712,0.340122,0.238739,0.614887,0.000126
5562,Xanxer√™,SC,-26.874585,-52.404667,0.0,0.000136,0.000137,0.000000,0.000157,0.000163,...,0.000147,0.000152,0.000206,0.000157,0.000301,0.702703,0.600815,0.693694,0.755663,0.000138
5563,Xapuri,AC,-10.652072,-68.506295,0.0,0.004387,0.004433,0.000175,0.003257,0.002128,...,0.004457,0.002556,0.002428,0.000300,0.009768,0.398649,0.323829,0.328829,0.482201,0.000314
5564,Xavantina,SC,-27.070250,-52.342851,0.0,0.000194,0.000196,0.000000,0.000220,0.000209,...,0.000227,0.000200,0.000176,0.000187,0.000313,0.770270,0.716904,0.959459,0.734628,0.000147

In [204]:
# Checando com o m√©todo describe():
df_final.describe().T

,count,mean,std,min,25%,50%,75%,max
City_Latitude,5557.0,-16.449327,8.280269,-33.687567,-22.839057,-18.091372,-8.496838,4.585440
City_Longitude,5557.0,-46.227863,6.409731,-72.916501,-50.869308,-46.515916,-41.405615,-32.435186
Capital,5557.0,0.004859,0.069541,0.000000,0.000000,0.000000,0.000000,1.000000
Total_Pop,5557.0,0.002977,0.018063,0.000000,0.000393,0.000900,0.002018,1.000000
Total_Pop_Brazilians,5557.0,0.003002,0.018111,0.000000,0.000397,0.000909,0.002029,1.000000
Total_Pop_Foreigners,5557.0,0.000648,0.015011,0.000000,0.000000,0.000000,0.000084,1.000000
Total_Uni_Dom,5557.0,0.002816,0.018124,0.000000,0.000373,0.000820,0.001814,1.000000
Total_Uni_Dom_Urb,5557.0,0.002481,0.018151,0.000000,0.000229,0.000502,0.001287,1.000000
Total_Uni_Dom_Rur,5557.0,0.043408,0.050101,0.000000,0.014435,0.027747,0.054783,1.000000
Total_Pop_Urb,5557.0,0.002623,0.017785,0.000000,0.000250,0.000572,0.001446,1.000000
Pop_Urb_1,5557.0,0.002963,0.017985,0.000000,0.000294,0.000711,0.001792,1.000000
Pop_Urb_1-4,5557.0,0.002993,0.017987,0.000000,0.000297,0.000721,0.001840,1.000000
Pop_Urb_5-9,5557.0,0.003016,0.018004,0.000000,0.000311,0.000744,0.001891,1.000000
Pop_Urb_10-14,5557.0,0.003026,0.018115,0.000000,0.000315,0.000735,0.001872,1.000000
Pop_Urb_15-19,5557.0,0.002570,0.017752,0.000000,0.000232,0.000530,0.001351,1.000000
Pop_Urb_60+,5557.0,0.002303,0.017993,0.000000,0.000241,0.000535,0.001311,1.000000
Total_Cars,5557.0,0.001718,0.016013,0.000000,0.000104,0.000249,0.000711,1.000000
Total_Motorcycles,5557.0,0.004301,0.018468,0.000000,0.000517,0.001128,0.002904,1.000000
IDHM,5557.0,0.543144,0.162123,0.000000,0.407658,0.556306,0.675676,1.000000
IDHM_Renda,5557.0,0.494632,0.164312,0.000000,0.350305,0.517312,0.625255,1.000000
IDHM_Longevidade,5557.0,0.583563,0.201284,0.000000,0.436937,0.612613,0.738739,1.000000
IDHM_Educacao,5557.0,0.569645,0.151057,0.000000,0.457929,0.571197,0.686084,1.000000
Taxes,5557.0,0.001138,0.014602,0.000000,0.000132,0.000164,0.000310,1.000000

In [206]:
# Checando as vari√°veis categ√≥ricas:
df_final.describe(exclude='number')

                City State
count           5557  5557
unique          5285    27
top     S√£o Domingos    MG
freq               5   853