# An√°lise Explorat√≥ria de Dados: IBGE

<h1>
    <p align="center">
        Work in Progress üõ†Ô∏è
    </p>
</h1>

Objetivos:

- Realizar uma an√°lise focada nas vari√°veis referentes a popula√ß√£o brasileira e alguns √≠ndices econ√¥micos;

Algumas possibilidades: 

- Comparativos entre estados ou regi√µes do Brasil no quesito populacional e/ou econ√¥mico;
- Procurar entender quais os estados com os munic√≠pios mais ricos, mais populosos, com mais imigrantes;
- Rankeamento desses estados com base em alguns KPI's (GDP, IDH, Popula√ß√£o total);
- Um dado interessante para a an√°lise tamb√©m pode ser a distribui√ß√£o de carros/motos por cidad√£o.
- Divis√£o et√°ria da popula√ß√£o desses estados, buscando quais os de popula√ß√£o mais jovem e velha na m√©dia;

## Puxando dados e selecionando vari√°veis necess√°rias

In [2]:
# Importando pacotes:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Definindo par√¢metros de tamanho das figuras do Seaborn:
sns.set(rc={'figure.figsize':(12,8)})
sns.set(style="darkgrid")

print('Pacotes prontos!')

Pacotes prontos!

In [3]:
# Criando dataframe:
data = pd.read_csv('data/BRAZIL_CITIES.csv', sep=';')

In [4]:
# Visualizando dados:
data.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goi√°s,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadi√¢nia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaet√©,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

In [5]:
# Checando shape:
data.shape

(5573, 81)

Dados: 5573 Registros em 81 Vari√°veis

In [6]:
# Checando colunas:
data.columns

Index(['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS',
       'IBGE_RES_POP_ESTR', 'IBGE_DU', 'IBGE_DU_URBAN', 'IBGE_DU_RURAL',
       'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
       'IBGE_15-59', 'IBGE_60+', 'IBGE_PLANTED_AREA', 'IBGE_CROP_PRODUCTION_$',
       'IDHM Ranking 2010', 'IDHM', 'IDHM_Renda', 'IDHM_Longevidade',
       'IDHM_Educacao', 'LONG', 'LAT', 'ALT', 'PAY_TV', 'FIXED_PHONES', 'AREA',
       'REGIAO_TUR', 'CATEGORIA_TUR', 'ESTIMATED_POP', 'RURAL_URBAN',
       'GVA_AGROPEC', 'GVA_INDUSTRY', 'GVA_SERVICES', 'GVA_PUBLIC',
       ' GVA_TOTAL ', 'TAXES', 'GDP', 'POP_GDP', 'GDP_CAPITA', 'GVA_MAIN',
       'MUN_EXPENDIT', 'COMP_TOT', 'COMP_A', 'COMP_B', 'COMP_C', 'COMP_D',
       'COMP_E', 'COMP_F', 'COMP_G', 'COMP_H', 'COMP_I', 'COMP_J', 'COMP_K',
       'COMP_L', 'COMP_M', 'COMP_N', 'COMP_O', 'COMP_P', 'COMP_Q', 'COMP_R',
       'COMP_S', 'COMP_T', 'COMP_U', 'HOTELS', 'BEDS', 'Pr_Agencies',
       'Pu_Agencies', 'Pr_Bank', 'Pu_Bank', 'Pr_Assets', 'Pu_Assets', 'Cars',
       'Motorcycles', 'Wheeled_tractor', 'UBER', 'MAC', 'WAL-MART',
       'POST_OFFICES'],
      dtype='object')

Antes de nos aprofundarmos mais no Dataset, iremos realizar um corte de vari√°veis, preservando apenas aquelas que interessam para a an√°lise proposta no in√≠cio.

In [11]:
# Selecionando as vari√°veis que ser√£o relevantes para a an√°lise:
data_pop = data.loc[
    :,
    ['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS', 'IBGE_RES_POP_ESTR', 'IBGE_DU', 
    'IBGE_DU_URBAN', 'IBGE_DU_RURAL', 'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
    'IBGE_15-59', 'IBGE_60+', 'Cars', 'Motorcycles', 'IDHM', 'IDHM_Renda', 
    'IDHM_Longevidade', 'IDHM_Educacao', 'TAXES']
].copy()

In [12]:
# Visualizando novos dados:
data_pop.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,IBGE_10-14,IBGE_15-59,IBGE_60+,Cars,Motorcycles,IDHM,IDHM_Renda,IDHM_Longevidade,IDHM_Educacao,TAXES
0,Abadia De Goi√°s,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,517.0,3542.0,416.0,2158.0,1246.0,0.708,0.687,0.830,0.622,20554.20
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,351.0,2709.0,589.0,2227.0,1142.0,0.690,0.693,0.839,0.563,12873.50
2,Abadi√¢nia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1087.0,6896.0,990.0,2838.0,1426.0,0.690,0.671,0.841,0.579,26822.58
3,Abaet√©,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,1539.0,11979.0,2681.0,6928.0,2953.0,0.698,0.720,0.848,0.556,26994.09
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,8905.0,53516.0,5996.0,5277.0,25661.0,0.628,0.579,0.798,0.537,95180.48

Com nossas vari√°veis selecionadas, podemos dar in√≠cio propriamente as an√°lises iniciais do Dataset e limpeza.

## An√°lise inicial e conhecendo os dados

In [13]:
# Visualizando o novo shape:
data_pop.shape

(5573, 23)

In [14]:
data_pop.columns

Index(['CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS',
       'IBGE_RES_POP_ESTR', 'IBGE_DU', 'IBGE_DU_URBAN', 'IBGE_DU_RURAL',
       'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
       'IBGE_15-59', 'IBGE_60+', 'Cars', 'Motorcycles', 'IDHM', 'IDHM_Renda',
       'IDHM_Longevidade', 'IDHM_Educacao', 'TAXES'],
      dtype='object')

Agora temos os mesmos 5573 registros em apenas 23 vari√°veis

Para termos uma vis√£o melhor e mais apropiada do conte√∫do de cada vari√°vel, realizaremos um dicion√°rio de vari√°veis, baseado no arquivo CSV presente na pasta `data` chamado `Data_Dictionary.csv`:


| <p align='center'>**Vari√°vel**</p>| <p align='center'>**Conte√∫do**</p>                                                         |
|-----------------------------------|--------------------------------------------------------------------------------------------|
| *`CITY`*                          | Nome da cidade.                                                                            |
| *`STATE`*                         | Nome do estado.                                                                            |
| *`CAPITAL`*                       | Indica se a cidade nomeada no registro √© a capital do estado.                              |
| *`IBGE_RES_POP`*                  | N√∫mero de habitantes da cidade de acordo com o senso de 2010.                              |
| *`IBGE_RES_POP_BRAS`*             | Quantos cidad√£os da popula√ß√£o total da cidade s√£o brasileiros.                             |
| *`IBGE_RES_POP_ESTR`*             | Quantos cidad√£os da popula√ß√£o total da cidade s√£o estrangeiros.                            |  
| *`IBGE_DU`*                       | N√∫mero de unidades dom√©sticas totais.                                                      |
| *`IBGE_DU_URBAN`*                 | Das unidades dom√©sticas totais, quantas est√£o em regi√µes urbanas.                          |
| *`IBGE_DU_RURAL`*                 | Das unidades dom√©sticas totais, quantas est√£o em regi√µes rurais.                           |
| *`IBGE_POP`*                      | Moradores em domic√≠lios particulares permanentes, em √°reas com ordenamento urbano regular. |
| *`IBGE_1`*                        | N√∫mero de pessoas com at√© 1 ano de idade na popula√ß√£o referente a tabela `IBGE_POP`.       |
| *`IBGE_1-4`*                      | N√∫mero de pessoas entre 1 e 4 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.    |
| *`IBGE_5-9`*                      | N√∫mero de pessoas entre 5 e 9 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.    |
| *`IBGE_10-14`*                    | N√∫mero de pessoas entre 10 e 14 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.  |
| *`IBGE_15-59`*                    | N√∫mero de pessoas entre 15 e 59 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.  |
| *`IBGE_60+`*                      | N√∫mero de pessoas a partir dos 60 anos de idade na popula√ß√£o referente a tabela `IBGE_POP`.|
| *`Cars`*                          | N√∫mero total de carros referente ao ano de 2019.                                           |
| *`Motorcycles`*                   | N√∫mero total de Motocicletas referente ao ano de 2019.                                     |
| *`IDHM`*                          | √çndice de Desenvolvimento Humano.                                                          |
| *`IDHM_Renda`*                    | √çndice de Desenvolvimento Humano - Renda.                                                  |
| *`IDHM_Longevidade`*              | √çndice de Desenvolvimento Humano - Longevidade.                                            |
| *`IDHM_Educacao`*                 | √çndice de Desenvolvimento Humano - Educa√ß√£o                                                |
| *`TAXES`*                         | Montante total pago em Impostos.                                                           |

Os nomes das vari√°veis ser√£o alterados mais adiante, para facilitar a compreens√£o das mesmas sem a necessidade de referenciar a tabela a todo momento. Este processo tamb√©m sera realizado para padronizar a nomenclatura da melhor maneira poss√≠vel.

In [16]:
# Checando informa√ß√µes espec√≠ficas sobre as vari√°veis:
data_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CITY               5573 non-null   object
 1   STATE              5573 non-null   object
 2   CAPITAL            5573 non-null   int64
 3   IBGE_RES_POP       5565 non-null   float64
 4   IBGE_RES_POP_BRAS  5565 non-null   float64
 5   IBGE_RES_POP_ESTR  5565 non-null   float64
 6   IBGE_DU            5563 non-null   float64
 7   IBGE_DU_URBAN      5563 non-null   float64
 8   IBGE_DU_RURAL      5492 non-null   float64
 9   IBGE_POP           5565 non-null   float64
 10  IBGE_1             5565 non-null   float64
 11  IBGE_1-4           5565 non-null   float64
 12  IBGE_5-9           5565 non-null   float64
 13  IBGE_10-14         5565 non-null   float64
 14  IBGE_15-59         5565 non-null   float64
 15  IBGE_60+           5565 non-null   float64
 16  Cars               5562 non-null   float64
 17  Motorcycles        5562 non-null   float64
 18  IDHM               5565 non-null   float64
 19  IDHM_Renda         5565 non-null   float64
 20  IDHM_Longevidade   5565 non-null   float64
 21  IDHM_Educacao      5565 non-null   float64
 22  TAXES              5570 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 1001.5+ KB

Algumas informa√ß√µes relevantes:

- No total, temos 20 vari√°veis do tipo float64, 1 do tipo int64 e 2 do tipo object. Visando a melhor performance poss√≠vel do Dataset, iremos avaliar a possibilidade de alterar os Data Types para op√ß√µes melhores (int8 ou 32 por exemplo, categorical para as vari√°veis object, etc.);

- Temos poucos dados faltantes espalhados em diversas colunas.

Dado o fato de que praticamente todas as colunas est√£o em float por mais que muitas n√£o precisem estar, a avalia√ß√£o estat√≠stica utilizando o m√©todo .describe() fica prejudicada, assim como a procura por outliers utilizando boxplots. Sendo assim, antes de continuar essas an√°lises estat√≠sticas, iremos realizar a retirada de valores nulos e as transforma√ß√µes de Data Types nos dados.

## Retirada de Nulls e Alterando Dtypes