In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('BRAZIL_CITIES.csv', sep=';')
data.head(2)

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0

In [3]:
# Categorias:

populacao = [
    'CITY', 'STATE', 'CAPITAL', 'IBGE_RES_POP', 'IBGE_RES_POP_BRAS', 'IBGE_RES_POP_ESTR', 'IBGE_DU', 
    'IBGE_DU_URBAN', 'IBGE_DU_RURAL', 'IBGE_POP', 'IBGE_1', 'IBGE_1-4', 'IBGE_5-9', 'IBGE_10-14',
    'IBGE_15-59', 'IBGE_60+', 'ESTIMATED_POP', 'Cars', 'Motorcycles'
]

indices_economicos = [
    'IDHM', 'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 
    'GVA_AGROPEC', 'GVA_INDUSTRY', 'GVA_SERVICES', 'GVA_PUBLIC', ' GVA_TOTAL ', 
    'TAXES', 'GDP', 'POP_GDP', 'GDP_CAPITA', 'GVA_MAIN', 'MUN_EXPENDIT', 'Pr_Assets', 'Pu_Assets',
    'PAY_TV', 'FIXED_PHONES'
]

indices_empresariais = ['COMP_TOT', 'COMP_A', 'COMP_B', 'COMP_C', 'COMP_D',
    'COMP_E', 'COMP_F', 'COMP_G', 'COMP_H', 'COMP_I', 'COMP_J', 'COMP_K',
    'COMP_L', 'COMP_M', 'COMP_N', 'COMP_O', 'COMP_P', 'COMP_Q', 'COMP_R',
    'COMP_S', 'COMP_T', 'COMP_U', 'Pr_Agencies', 'Pu_Agencies', 'Pr_Bank', 'Pu_Bank',
    'UBER', 'MAC', 'WAL-MART', 'POST_OFFICES'
]

rural = [
    'IBGE_DU_RURAL', 'IBGE_PLANTED_AREA', 'IBGE_CROPPRODUCTION$', 'Wheeled_tractor'
]

turismo = [
    'HOTELS', 'BEDS', 'REGIAO_TUR', 'CATEGORIA_TUR'
]

Divisão em categorias para facilitar o entendimento do escopo do projeto

# População

A partir da lista acima, obtemos os dados relativos à população:

In [4]:
populacao = data[[i for i in populacao]].copy()
populacao.head(5)

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,69.0,318.0,438.0,517.0,3542.0,416.0,8583.0,2158.0,1246.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,38.0,207.0,260.0,351.0,2709.0,589.0,6972.0,2227.0,1142.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,139.0,650.0,894.0,1087.0,6896.0,990.0,19614.0,2838.0,1426.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,176.0,856.0,1233.0,1539.0,11979.0,2681.0,23223.0,6928.0,2953.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,1354.0,5567.0,7618.0,8905.0,53516.0,5996.0,156292.0,5277.0,25661.0

In [5]:
populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CITY               5573 non-null   object
 1   STATE              5573 non-null   object
 2   CAPITAL            5573 non-null   int64
 3   IBGE_RES_POP       5565 non-null   float64
 4   IBGE_RES_POP_BRAS  5565 non-null   float64
 5   IBGE_RES_POP_ESTR  5565 non-null   float64
 6   IBGE_DU            5563 non-null   float64
 7   IBGE_DU_URBAN      5563 non-null   float64
 8   IBGE_DU_RURAL      5492 non-null   float64
 9   IBGE_POP           5565 non-null   float64
 10  IBGE_1             5565 non-null   float64
 11  IBGE_1-4           5565 non-null   float64
 12  IBGE_5-9           5565 non-null   float64
 13  IBGE_10-14         5565 non-null   float64
 14  IBGE_15-59         5565 non-null   float64
 15  IBGE_60+           5565 non-null   float64
 16  ESTIMATED_POP      5570 non-null   float64
 17  Cars               5562 non-null   float64
 18  Motorcycles        5562 non-null   float64
dtypes: float64(16), int64(1), object(2)
memory usage: 827.4+ KB

A quantidade de nulos, representada abaixo, são uma pequena fração dos dados, tendo a coluna com maior número de dados faltantes

apenas 1.45% de seus valores nulos. Podemos observar também uma repetição nas porcentagens:

In [6]:
populacao.isnull().sum() * 100 / populacao.shape[0]

CITY                 0.000000
STATE                0.000000
CAPITAL              0.000000
IBGE_RES_POP         0.143549
IBGE_RES_POP_BRAS    0.143549
IBGE_RES_POP_ESTR    0.143549
IBGE_DU              0.179437
IBGE_DU_URBAN        0.179437
IBGE_DU_RURAL        1.453436
IBGE_POP             0.143549
IBGE_1               0.143549
IBGE_1-4             0.143549
IBGE_5-9             0.143549
IBGE_10-14           0.143549
IBGE_15-59           0.143549
IBGE_60+             0.143549
ESTIMATED_POP        0.053831
Cars                 0.197380
Motorcycles          0.197380
dtype: float64

Podemos observar com frequência o número de valores faltantes ser 8. Provavelmente encontraremos as mesmas cidades nestas colunas faltantes.

São cidades que não parecem ter as pesquisas "básicas" realizadas. Isso acaba se refletindo também nas que tem 10 ou mais, pois nelas devem estar incluidas estas 8.

In [7]:
populacao.isnull().sum()

CITY                  0
STATE                 0
CAPITAL               0
IBGE_RES_POP          8
IBGE_RES_POP_BRAS     8
IBGE_RES_POP_ESTR     8
IBGE_DU              10
IBGE_DU_URBAN        10
IBGE_DU_RURAL        81
IBGE_POP              8
IBGE_1                8
IBGE_1-4              8
IBGE_5-9              8
IBGE_10-14            8
IBGE_15-59            8
IBGE_60+              8
ESTIMATED_POP         3
Cars                 11
Motorcycles          11
dtype: int64

In [8]:
nulos = populacao.loc[populacao.IBGE_RES_POP.isnull()]
nulos

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
471,Balneário Rincão,SC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12570.0,3297.0,887.0
2701,Lagoa Dos Patos,RS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3116,Mojuí Dos Campos,PA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15982.0,353.0,862.0
3580,Paraíso Das Águas,MS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5455.0,726.0,255.0
3760,Pescaria Brava,SC,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10022.0,1950.0,1314.0
3820,Pinto Bandeira,RS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2968.0,624.0,109.0
4481,Santa Teresinha,BA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10345.0,810.0,453.0
4605,São Caetano,PE,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
populacao[populacao.CITY == "Pinto Bandeira"]

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
3820,Pinto Bandeira,RS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2968.0,624.0,109.0

______

## Nomes de cidades repetidas

Podemos ver abaixo uma lista de cidades homônimas. Ficar atento caso utilizar alguma agregação pelo nome das cidades.

In [64]:
homonimas = populacao[populacao.CITY.duplicated(keep=False)]
homonimas

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
46,Água Boa,MT,0,20856.0,20844.0,12.0,6437.0,5251.0,1186.0,16691.0,288.0,1047.0,1464.0,1551.0,11228.0,1113.0,25229.0,4470.0,7111.0
47,Água Boa,MG,0,15195.0,15195.0,0.0,4170.0,2015.0,2155.0,6987.0,103.0,447.0,665.0,873.0,4115.0,784.0,13600.0,1205.0,1962.0
48,Água Branca,PI,0,16451.0,16451.0,0.0,4733.0,4203.0,530.0,14525.0,204.0,933.0,1347.0,1541.0,8658.0,1842.0,17349.0,2117.0,8713.0
49,Água Branca,AL,0,19377.0,19377.0,0.0,4734.0,1361.0,3373.0,5090.0,90.0,361.0,505.0,513.0,3047.0,574.0,20162.0,957.0,2347.0
50,Água Branca,PB,0,9449.0,9449.0,0.0,2562.0,1209.0,1353.0,4059.0,57.0,266.0,397.0,450.0,2336.0,553.0,10161.0,323.0,322.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5496,Viçosa,MG,0,72220.0,72086.0,134.0,22761.0,21311.0,1450.0,67078.0,742.0,3119.0,4403.0,5325.0,46216.0,7273.0,78286.0,22185.0,17515.0
5497,Viçosa,AL,0,25407.0,25407.0,0.0,6778.0,4989.0,1789.0,18508.0,273.0,1245.0,1666.0,2058.0,11396.0,1870.0,25773.0,1745.0,3200.0
5498,Viçosa,RN,0,1618.0,1618.0,0.0,481.0,458.0,23.0,1541.0,18.0,85.0,124.0,151.0,988.0,175.0,1712.0,133.0,261.0
5554,Wenceslau Braz,PR,0,19298.0,19283.0,15.0,6256.0,5026.0,1230.0,15386.0,225.0,870.0,1222.0,1440.0,9699.0,1930.0,19444.0,6031.0,2487.0
5555,Wenceslau Braz,MG,0,2553.0,2553.0,0.0,784.0,381.0,403.0,1264.0,18.0,78.0,101.0,97.0,811.0,159.0,2558.0,548.0,230.0

Quais os nomes de cidade que mais se repetem:

In [65]:
homonimas.CITY.value_counts()

São Domingos      5
Bom Jesus         5
Planalto          4
Vera Cruz         4
Santa Helena      4
                 ..
Itajá             2
Itapeva           2
Itapiranga        2
Itaporanga        2
Wenceslau Braz    2
Name: CITY, Length: 234, dtype: int64

In [76]:
homonimas[homonimas.CAPITAL == 1]

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
580,Belém,PA,1,1393399.0,1391623.0,1776.0,369222.0,365974.0,3248.0,1370089.0,19479.0,77895.0,103623.0,117183.0,924038.0,127871.0,1485732.0,231612.0,141727.0
642,Boa Vista,RR,1,284313.0,283523.0,790.0,76026.0,75092.0,934.0,276022.0,5245.0,20851.0,26886.0,29464.0,179366.0,14210.0,375374.0,67640.0,84374.0
971,Campo Grande,MS,1,786797.0,785017.0,1780.0,250542.0,247159.0,3383.0,765394.0,11390.0,44074.0,54942.0,63075.0,515538.0,76375.0,885711.0,302311.0,169030.0
3531,Palmas,TO,1,228332.0,228131.0,201.0,69012.0,67271.0,1741.0,216905.0,3988.0,15148.0,18368.0,19952.0,150261.0,9188.0,291855.0,77237.0,68186.0
4193,Rio Branco,AC,1,336038.0,335634.0,404.0,94393.0,87405.0,6988.0,295708.0,5023.0,21370.0,27881.0,31072.0,191460.0,18902.0,401155.0,66599.0,82414.0

_______

## Número de DU (Domestic Units - Unidades domésticas) por município

In [84]:
dus = populacao[['CITY', 'STATE' ,'IBGE_DU', 'IBGE_DU_URBAN', 'IBGE_DU_RURAL', 'IBGE_RES_POP']]
dus

,CITY,STATE,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_RES_POP
0,Abadia De Goiás,GO,2137.0,1546.0,591.0,6876.0
1,Abadia Dos Dourados,MG,2328.0,1481.0,847.0,6704.0
2,Abadiânia,GO,4655.0,3233.0,1422.0,15757.0
3,Abaeté,MG,7694.0,6667.0,1027.0,22690.0
4,Abaetetuba,PA,31061.0,19057.0,12004.0,141100.0
...,...,...,...,...,...,...
5568,Xique-Xique,BA,11637.0,8461.0,3176.0,45536.0
5569,Zabelê,PB,673.0,489.0,184.0,2075.0
5570,Zacarias,SP,799.0,638.0,161.0,2335.0
5571,Zé Doca,MA,11886.0,7611.0,4275.0,50173.0
5572,Zortéa,SC,1026.0,800.0,226.0,2991.0

__________

Na célula abaixo, defino uma variável para as cidades que tem mais casas por áreas rurais e mais por áreas urbanas.

In [85]:
predominancia_dus_rurais = dus[dus['IBGE_DU_RURAL'] > dus['IBGE_DU_URBAN']]

predominancia_dus_urb = dus[dus['IBGE_DU_URBAN'] > dus['IBGE_DU_RURAL']]

In [86]:
predominancia_dus_rurais.STATE.value_counts()

RS    203
BA    182
MG    148
PI    124
SC    109
MA     99
PB     76
PA     73
PR     67
CE     59
PE     46
RN     38
AL     37
SE     26
RO     24
MT     23
TO     22
GO     21
SP     20
ES     19
AM     12
AC      7
MS      7
AP      4
RJ      4
RR      3
Name: STATE, dtype: int64

In [90]:
predominancia_dus_rurais.sort_values(by='IBGE_RES_POP', ascending=False)

,CITY,STATE,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_RES_POP
4763,São José De Ribamar,MA,42602.0,8793.0,33809.0,163045.0
932,Cametá,PA,23642.0,10990.0,12652.0,120896.0
501,Barcarena,PA,24907.0,8870.0,16037.0,99859.0
4421,Santa Luzia,MA,17496.0,6431.0,11065.0,74043.0
2125,Ibiúna,SP,21433.0,7488.0,13945.0,71217.0
...,...,...,...,...,...,...
1374,Coqueiro Baixo,RS,534.0,115.0,419.0,1528.0
2725,Lajeado Grande,SC,442.0,204.0,238.0,1490.0
5381,União Da Serra,RS,458.0,95.0,363.0,1487.0
4529,Santiago Do Sul,SC,431.0,201.0,230.0,1465.0
231,André Da Rocha,RS,425.0,175.0,250.0,1216.0

In [88]:
populacao.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,IBGE_1,IBGE_1-4,IBGE_5-9,IBGE_10-14,IBGE_15-59,IBGE_60+,ESTIMATED_POP,Cars,Motorcycles
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,69.0,318.0,438.0,517.0,3542.0,416.0,8583.0,2158.0,1246.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,38.0,207.0,260.0,351.0,2709.0,589.0,6972.0,2227.0,1142.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,139.0,650.0,894.0,1087.0,6896.0,990.0,19614.0,2838.0,1426.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,176.0,856.0,1233.0,1539.0,11979.0,2681.0,23223.0,6928.0,2953.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,1354.0,5567.0,7618.0,8905.0,53516.0,5996.0,156292.0,5277.0,25661.0

____________